[project]
name = "convertlib"
description = "A library for converting between different units."
version = "0.1.0"
dependencies = [
    "numpy"
]

[project.optional-dependencies]
test = [
  "pytest",
]
dev = [
  "pytest",
]